<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="contactpres" id="contactpres">
            <module name="Topintegral_Contacto"/>
        </route>
        <route frontName="sendmail" id="sendmail">
            <module name="Topintegral_Contacto"/>
        </route>
    </router>
</config>